
	<!-- Title Page -->
	<section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" style="background-image: url(images/heading-pages-06.jpg);">
		<h2 class="l-text2 t-center">
			About
		</h2>
	</section>

	<!-- content page -->
	<section class="bgwhite p-t-66 p-b-38">
		<div class="container">
			<div class="row">
				<div class="col-md-4 p-b-30">
					<div class="hov-img-zoom">
						<img src="images/banner-14.jpg" alt="IMG-ABOUT">
					</div>
				</div>

				<div class="col-md-8 p-b-30">
					<h3 class="m-text26 p-t-15 p-b-16">
						Our story
					</h3>

					<p class="p-b-28">

					</p>

					<div class="bo13 p-l-29 m-l-9 p-b-10">
						<p class="p-b-11">
              There can be no finer way for a man to show his class, for an article to appeal the mass, than Leather. Nature’s most robust carrier of poise, suave and functionality, Leather has been time and again re-imagined into the most stylish of the ways. And Addon Adele is here to take it a notch higher by adding our own rendition of strength, character, grain, and texture.
              Our story is all about the commitment to provide premium quality leather. We ensure you experience luxury at every step, from carrying your credit cards and keys to accessorizing your apparel. From an inimitable class to a courageous and fresh outlook on the appearance of leather products, Addon Adele has strived for only the best of the craftsmanship. However, we have taken extreme care not to alter our leather’s natural goodness in any way and affect its timeless grace. We create and curate the new without compromising on the quality and grandiose of the old ways.
              Our quality speaks for itself as we use the most flawless of the hides to achieve the desired result. Our involvement at every step, from inspection to hand staining and product development to its packaging enables complete control over quality. We place high value over the rich history of leather processing and revamp the looks a bit disruptively to suit the passion of each millennial at every step.
              Every process is painstakingly immaculate & quite detailed. And we welcome you to be a part of it by turning the convention by its head & making these stunning yours.
						</p>

						<span class="s-text7">
							- Addon Adele
						</span>
					</div>
				</div>
			</div>
		</div>
	</section>
